/* history icon styles */
#history-icon{
    top: 20px;
    left: 65px;
}


/* history tab main styles */
.history-tab{
    height: 0;
    min-height: 0;
    transition: .7s ease;
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    grid-gap: 0;
    overflow: auto;
    margin-top: 5px;
    font-size: 2rem;
    user-select: none;
}


/* STYLES FOR EQUATIONS AND THEIR RESULTS BEGINNING */
.history-tab #equation{
    text-align: right;
    padding-right: 15px;
    padding-left: 15px;
    color: var(--textcolor);
    font-size: 2rem;
    overflow-wrap: break-word;
    width: 100dvw;
    cursor: pointer;
}

.history-tab #result{
    text-align: right;
    color: var(--textcolor);
    font-size: 3rem;
    overflow-wrap: break-word;
    width: 100dvw;
    cursor: pointer;
}
/* STYLES FOR EQUATIONS AND THEIR RESULTS END */


/* clear history button styles */
#clear-history{
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--special);
    background-color: lightgray;
    padding: 1em 0;
    display: none;
    flex: 1;
    user-select: none;
    cursor: pointer;
}
